absl-py
asgiref
astunparse
certifi
charset-normalizer
contourpy
cycler
Django
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pillow
protobuf
Pygments
pyparsing
python-dateutil
requests
rich
setuptools
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt
